@import '../../variables';

.exchange-rate-label {
  flex: 1 0 auto;
  display: flex;
  font-size: 1.5rem;
  color: $color-font-sub;
  align-items: center;
  justify-content: center;
  z-index: $z-index-currency-info;

  &--hidden {
    > span {
      visibility: hidden;
    }
  }
}