.Exchange {
  display: flex;
  flex-flow: column;
  // todo change
  margin-top: -54px;
  height: 100%;

  .Top-part, .Bottom-part {
    flex: 1 0 auto;
  }

  .Top-part {
    background: rgb(82,124,194);
    background: linear-gradient(180deg, rgba(82,124,194,1) 0%, rgba(97,74,223,1) 100%);

    .Title-container {
      margin-top: 24px;
      text-align: center;

      .Title {
        font-size: 26px;
        font-weight: 600;

        background: rgb(253,253,253);
        background: linear-gradient(90deg, rgba(253,253,253,1) 0%, rgba(253,253,253,1) 50%, rgba(159,182,220,1) 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  .Divider {
    $divider-line-color: #9886b5;
    $divider-chevron-color: #b098d6;

    width: 100%;
    flex: 0 1 auto;
    border-bottom: 1px solid $divider-line-color;
    display: inline-block;
    position: relative;
    text-align: center;

    .Chevron, .Chevron-border {
      display: inline-block;
      width: 40px;
      height: 40px;
      position: absolute;
      transform-origin: center;
      transform: rotate(45deg) translate(-20px, 20px);
    }

    .Chevron {
      background: rgb(97,76,222);
      background: linear-gradient(180deg, rgba(97,76,222,1) 0%, rgba(96,72,223,1) 100%);
      z-index: 10;
      top: -20px;
    }

    .Chevron-border {
      background-color: $divider-chevron-color;
      top: -19px;
    }
  }

  .Bottom-part {
    background: rgb(97,74,223);
    background: linear-gradient(180deg, rgba(97,74,223,1) 0%, rgba(73,34,230,1) 100%);
    border-bottom: 1px solid #4922e6;
  }
}
