@import '../../variables';
@import '../../mixins';

.exchange {
  display: flex;
  flex-flow: column;
  height: 100%;

  .exchange__top-part {
    flex: 3 0 auto;
  }

  .exchange__bottom-part {
    display: flex;
    flex-direction: column;
    flex: 5 0 auto;

    background: $theme-color-main-2;
    background: linear-gradient(180deg, $theme-color-main-2 0%, #4922e6 100%);
    border-bottom: 1px solid #4922e6;
  }

  .exchange-operand {
    @include exchangeValueText;

    display: flex;
    padding-left: 2rem;
    margin-top: 80px;

    &__value-container {
      margin-left: 10vw;
      width: 100%;
      max-width: calc(100vw - 4em);
      overflow: hidden;
    }

    &--dimmed {
      opacity: 0.5;
    }
  }

  .exchange-button-container {
    position: relative;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    align-items: flex-end;
    margin-bottom: 20px;
  }
}
