@import '../../variables';

.divider {
  $divider-line-color: #9886b5;
  $divider-chevron-color: #b098d6;
  $chevron-size: 40px;

  width: 100%;
  flex: 0 1 auto;
  border-bottom: 1px solid $divider-line-color;
  display: inline-block;
  position: relative;
  text-align: center;

  &__chevron, &__chevron-border {

    display: inline-block;
    width: $chevron-size;
    height: $chevron-size;
    position: absolute;
    transform-origin: center;
    transform: rotate(45deg) translate(-$chevron-size / 2, $chevron-size / 2);
  }

  &__chevron {
    background: linear-gradient(135deg, #5e53da 0%, #6049df 100%);
    z-index: $z-index-divider;
    top: -$chevron-size / 2;
  }

  &__chevron-border {
    background-color: $divider-chevron-color;
    top: -($chevron-size / 2) + 1;
  }
}
