@import '../mixins';

.Wallet {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: rgb(82,124,194);
  background: linear-gradient(180deg, rgba(82,124,194,1) 13%, rgba(97,75,222,1) 100%);
  // todo change
  margin-top: -54px;

  @include Title;

  .Title {
    margin-top: 12px;
  }
}
