@import '../../mixins';

.exchange-input {

  @include exchangeValueText;

  input {
    display: inline;
    background: none;
    border: none;
    outline: none;
    text-align: left;
    width: calc(100% - 1em);

    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }

}
