@mixin Title {
	.Title-container {
    margin-top: 24px;
    text-align: center;

    .Title {
      font-size: 26px;
      font-weight: 600;

      background: rgb(253,253,253);
      background: linear-gradient(90deg, rgba(253,253,253,1) 0%, rgba(253,253,253,1) 50%, rgba(159,182,220,1) 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}