@import './variables';

.App {
  height: 100%;
    background: linear-gradient(180deg, #{$theme-color-main-1} 0%, #{$theme-color-main-2} 50%);

  .App-header {
    position: absolute;
    width: 100%;

    .Title-container {
      margin-top: 24px;
      text-align: center;

      .Title {
        font-size: 26px;
        font-weight: 600;

        background: linear-gradient(90deg, #{$color-font-main} 0%, #{$color-font-main} 50%, #9fb6dc 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  .Menu {
    position: absolute;
    display: inline-block;
    width: 200px;
    height: 100px;
    bottom: 20px;

    text-align: center;
  }
}
