.App {
  height: 100%;

  .App-header {
    z-index: 20;

    .Avatar-container {
      $header-own-size: 40px;
      $header-margin-right: 24px;

      display: inline-block;
      width: $header-own-size;
      height: $header-own-size;
      margin-top: 12px;
      margin-left: calc(100% - #{$header-own-size + $header-margin-right});

      .User-avatar {
        max-width: $header-own-size;
        max-height: $header-own-size;
      }
    }
  }

  .Menu {
    position: absolute;
    display: inline-block;
    width: 200px;
    height: 100px;
    bottom: 20px;

    text-align: center;
  }
}
